section {
    width: 80%;
    height: 600px;
    margin: 0 auto;

    /* POV */
    background:
        no-repeat center/contain url(https://images.unsplash.com/photo-1693550246703-2a3b3a774442?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80),
        left bottom url(https://images.unsplash.com/photo-1693761935216-a2f3a7017795?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1779&q=80);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    color: #fff;
}