body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;

    /* POV */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;

    /* Extra POV */
    align-items: baseline;
    /* the bottom of each letters are in same line */

}

#container div {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 4em;
}